<div class="login-container">
  <div class="login-card">
    <h2>Kirish</h2>
    <form (ngSubmit)="onSubmit()" class="login-form" novalidate>
      <div class="form-group">
        <label for="username" class="form-label">
          <span class="icon">👤</span> Ism
        </label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          placeholder="Ismingizni kiriting"
          required
          class="form-input"
          [ngClass]="{'has-error': errorMessage && !username}"
        />
      </div>
      <div class="form-group">
        <label for="password" class="form-label">
          <span class="icon">🔒</span> Parol
        </label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Parolingizni kiriting"
          required
          class="form-input"
          [ngClass]="{'has-error': errorMessage && !password}"
        />
      </div>
      <button 
        type="submit" 
        class="login-button" 
        [disabled]="isLoading"
        [ngClass]="{'loading': isLoading}"
      >
        <span *ngIf="!isLoading">Kirish</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>
      <p class="error-message" *ngIf="errorMessage" role="alert">{{ errorMessage }}</p>
    </form>
    <div class="additional-links">
      <p class="register-link">
        Yangi foydalanuvchi? 
        <a [attr.href]="'https://t.me/aksiyonaqorovulbot'" target="_blank">Ro‘yxatdan o‘tish</a>
      </p>
      <p class="forgot-password">
        <a [attr.href]="'https://t.me/aksiyonaqorovulbot'" target="_blank">Parolni unutdingizmi?</a>
      </p>
    </div>
  </div>
</div>
